:root {
    --color-primary: #4B69FD;
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #444444;
    --color-white: #FFFFFF;
}
/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3cacb9;
    color: #333;
}

/* Contenedor principal */
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Encabezados */
h1 {
    color: #0078d7;
}

h2 {
    margin-top: 20px;
    font-size: 1.2em;
}

/* Sección de entrada */
.input-section {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    margin: 5px 5px;
    background-color: #0078d7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #005ea6;
}

/* Lista de nombres */
#nameList {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    text-align: left;
}

#nameList li {
    background-color: #f1f1f1;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

/* Mensajes */
.welcome-message {
    font-size: 1em;
    color: #0078d7;
    margin-top: 10px;
}

.result {
    margin-top: 20px;
    font-size: 1.5em;
    color: #0078d7;
    font-weight: bold;
}

/* Botones secundarios */
.secondary-button {
    background-color: #ccc;
    color: #333;
}

.secondary-button:hover {
    background-color: #bbb;
}

